.container {
  text-align: center;
  height: auto;
  width: 100%;
  .userAvatar-container {
    height: 30vh;
    text-align: center;
    align-items: center;
    line-height: 30vh;
    .userAvatar {
      margin: auto;
      height: 8vh;
      width: 8vh;
      border-radius: 50%;
    }
  }

  .phone-login-bottom {
    margin: 30px 50px;
    position:fixed;
    bottom: 14px;
    width: -webkit-fill-available;
  }
}
